* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 320px;
  font-size: 1.6rem;
  font-family: "Wix Madefor Display", sans-serif;
  color: #1B263B;
  background-color: #e8e9e5;
  display: flex;
  justify-content: center;
}

.general-container {
  min-width: 320px;
  width: fit-content;
  max-width: 1000px;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
}

.main {
  width: 100%;
}
.main__title {
  text-align: center;
  font-weight: 800;
  margin-block-end: 1.8rem;
}
.main__subtitle {
  margin-block-end: 1.8rem;
}
.main__header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 0 2rem 0;
}
.main__header p {
  padding: 1.4rem 3rem;
  border: solid 0.05rem #415A77;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  background-color: #f8f8f8;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
@media (max-width: 960px) {
  .main__title {
    font-size: 1.6rem;
    font-weight: 800;
    margin-block-end: 0.6rem;
  }
  .main__subtitle {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    margin-block-end: 1rem;
  }
  .main__header {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .main__header p {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    padding: 0.4rem 0.8rem;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-inline: 1rem;
  }
}
@media (max-width: 420px) {
  .main__header {
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .main__header p {
    padding: 0.4rem 0rem;
    margin-bottom: 0.1rem;
    border: none;
    border-radius: 0;
    font-size: 1.2rem;
    font-weight: 500;
    box-shadow: none;
  }
}

.cards-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
@media (max-width: 960px) {
  .cards-container {
    grid-template-columns: minmax(300px, 600px);
    grid-template-rows: auto;
    gap: 1rem;
    justify-content: center;
  }
}

.card {
  width: 100%;
  border-radius: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: #f8f8f8;
}
.card__header {
  display: grid;
  grid-template-columns: 120px auto;
  align-items: center;
  padding: 1rem;
}
.card__image {
  width: 110px;
  justify-self: center;
  border-radius: 50%;
}
.card__info {
  margin-inline-start: 1.2rem;
}
.card__info-text {
  font-size: 1.6rem;
}
.card__info-numLista {
  padding-inline-start: 0.4rem;
  font-size: 1.8rem;
  font-weight: 500;
}
.card__info-lista {
  margin-block: 0.6rem;
  font-weight: 700;
  font-size: 1.6rem;
}
.card__info-candidato {
  font-weight: 800;
  font-size: 1.8rem;
}
.card__body {
  padding-block: 0.6rem;
  text-align: center;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}
.card__body-porcentaje {
  font-weight: 800;
  font-size: 3rem;
}
.card__body-votos {
  font-size: 1.8rem;
  font-weight: 500;
}
.card--primary {
  grid-area: 1/1/2/3;
  width: 700px;
}
.card--primary .card__header {
  grid-template-columns: 160px auto;
  padding: 1rem;
}
.card--primary .card__image {
  width: 140px;
}
.card--primary .card__info-numLista {
  font-weight: 700;
}
.card--primary .card__info-lista {
  font-size: 1.8rem;
}
.card--primary .card__info-candidato {
  font-size: 3rem;
}
.card--primary .card__body-porcentaje {
  font-weight: 800;
  font-size: 4rem;
}
.card--primary .card__body-votos {
  font-size: 1.8rem;
  font-weight: 500;
}
.card--gobernador {
  border: solid 0.1rem rgba(65, 90, 119, 0.6);
}
.card--gobernador .card__image {
  border: solid 0.5rem #415A77;
  background-color: rgba(65, 90, 119, 0.1);
}
@media (max-width: 960px) {
  .card--gobernador .card__image {
    border: solid 0.3rem #415A77;
  }
}
.card--gobernador .card__body {
  border-top: solid 0.2rem #415A77;
  background-color: rgba(65, 90, 119, 0.1);
}
@media (max-width: 960px) {
  .card--gobernador .card__body {
    border-top: none;
    border-left: solid 0.2rem #415A77;
  }
}
@media (max-width: 960px) {
  .card {
    display: grid;
    grid-template-columns: auto 80px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
  .card__header {
    display: grid;
    grid-template-columns: 60px auto;
    padding: 0.6rem 0.4rem;
  }
  .card__image {
    width: 50px;
    height: 50px;
  }
  .card__info {
    margin-inline-start: 1rem;
  }
  .card__info-text {
    font-size: 0.8rem;
  }
  .card__info-numLista {
    font-size: 0.8rem;
    font-weight: 600;
  }
  .card__info-lista {
    margin-block: 0;
    font-weight: 700;
    font-size: 1rem;
  }
  .card__info-candidato {
    margin-top: 0.4rem;
    font-size: 1.2rem;
  }
  .card__body {
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    border-bottom-left-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card__body-porcentaje {
    font-weight: 800;
    font-size: 1.6rem;
  }
  .card__body-votos {
    font-size: 1rem;
    font-weight: 500;
  }
  .card--primary {
    grid-area: 1/1;
    width: 100%;
  }
  .card--primary .card__header {
    align-items: center;
    grid-template-columns: 70px auto;
    padding: 0.6rem;
  }
  .card--primary .card__image {
    width: 65px;
    height: 65px;
  }
  .card--primary .card__info-text {
    font-size: 0.8rem;
  }
  .card--primary .card__info-numLista {
    font-size: 0.8rem;
    font-weight: 700;
  }
  .card--primary .card__info-lista {
    font-size: 1rem;
  }
  .card--primary .card__info-candidato {
    font-size: 1.2rem;
  }
  .card--primary .card__body-porcentaje {
    font-size: 1.6rem;
  }
  .card--primary .card__body-votos {
    font-size: 1rem;
  }
}
.card--yapura {
  border: solid 0.1rem rgba(188, 75, 81, 0.6);
}
.card--yapura .card__image {
  border: solid 0.5rem #bc4b51;
  background-color: rgba(188, 75, 81, 0.1);
}
@media (max-width: 960px) {
  .card--yapura .card__image {
    border: solid 0.3rem #bc4b51;
  }
}
.card--yapura .card__body {
  border-top: solid 0.2rem #bc4b51;
  background-color: rgba(188, 75, 81, 0.1);
}
@media (max-width: 960px) {
  .card--yapura .card__body {
    border-top: none;
    border-left: solid 0.2rem #bc4b51;
  }
}
.card--guanco {
  border: solid 0.1rem rgba(244, 162, 89, 0.6);
}
.card--guanco .card__image {
  border: solid 0.5rem #f4a259;
  background-color: rgba(244, 162, 89, 0.1);
}
@media (max-width: 960px) {
  .card--guanco .card__image {
    border: solid 0.3rem #f4a259;
  }
}
.card--guanco .card__body {
  border-top: solid 0.2rem #f4a259;
  background-color: rgba(244, 162, 89, 0.1);
}
@media (max-width: 960px) {
  .card--guanco .card__body {
    border-top: none;
    border-left: solid 0.2rem #f4a259;
  }
}
.card--saavedra {
  border: solid 0.1rem rgba(140, 179, 105, 0.6);
}
.card--saavedra .card__image {
  border: solid 0.5rem #8cb369;
  background-color: rgba(140, 179, 105, 0.1);
}
@media (max-width: 960px) {
  .card--saavedra .card__image {
    border: solid 0.3rem #8cb369;
  }
}
.card--saavedra .card__body {
  border-top: solid 0.2rem #8cb369;
  background-color: rgba(140, 179, 105, 0.1);
}
@media (max-width: 960px) {
  .card--saavedra .card__body {
    border-top: none;
    border-left: solid 0.2rem #8cb369;
  }
}
.card--caliva {
  border: solid 0.1rem rgba(65, 90, 119, 0.6);
}
.card--caliva .card__image {
  border: solid 0.5rem #415A77;
  background-color: rgba(65, 90, 119, 0.1);
}
@media (max-width: 960px) {
  .card--caliva .card__image {
    border: solid 0.3rem #415A77;
  }
}
.card--caliva .card__body {
  border-top: solid 0.2rem #415A77;
  background-color: rgba(65, 90, 119, 0.1);
}
@media (max-width: 960px) {
  .card--caliva .card__body {
    border-top: none;
    border-left: solid 0.2rem #415A77;
  }
}
.card--paz {
  border: solid 0.1rem rgba(244, 226, 133, 0.6);
}
.card--paz .card__image {
  border: solid 0.5rem #f4e285;
  background-color: rgba(244, 226, 133, 0.1);
}
@media (max-width: 960px) {
  .card--paz .card__image {
    border: solid 0.3rem #f4e285;
  }
}
.card--paz .card__body {
  border-top: solid 0.2rem #f4e285;
  background-color: rgba(244, 226, 133, 0.1);
}
@media (max-width: 960px) {
  .card--paz .card__body {
    border-top: none;
    border-left: solid 0.2rem #f4e285;
  }
}

.cards-container--gob {
  align-items: stretch;
  grid-gap: 2rem;
}
.general-container--gob {
  max-width: 1500px;
}

/*# sourceMappingURL=styles.css.map */
