.cards-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;

  @media (max-width: 960px) {
    grid-template-columns: minmax(300px, 600px);
    grid-template-rows: auto;
    gap: 1rem;
    justify-content: center;
  }
}

.card {
  width: 100%;
  border-radius: 0.8rem;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: rgba($color: $color-background-light, $alpha: 0.9);

  &__header {
    display: grid;
    grid-template-columns: 120px auto;
    align-items: center;
    padding: 1rem;
  }

  &__image {
    width: 110px;
    justify-self: center;
    border-radius: 50%;
  }

  &__info {
    margin-inline-start: 1.2rem;

    &-text {
      font-size: $font-md;
    }

    &-numLista {
      padding-inline-start: 0.4rem;
      font-size: $font-lg;
      font-weight: $font-medium;
    }

    &-lista {
      margin-block: 0.6rem;
      font-weight: $font-bold;
      font-size: $font-md;
    }

    &-candidato {
      font-weight: $font-extra-bold;
      font-size: $font-lg;
    }
  }

  &__body {
    padding-block: 0.6rem;
    text-align: center;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;

    &-porcentaje {
      font-weight: $font-extra-bold;
      font-size: $font-xxl;
    }
    &-votos {
      font-size: $font-lg;
      font-weight: $font-medium;
    }
  }

  &--primary {
    grid-area: 1 / 1 / 2 / 3;
    width: 700px;

    & .card__header {
      grid-template-columns: 160px auto;
      padding: 1rem;
    }

    & .card__image {
      width: 140px;
    }

    & .card__info {
      &-numLista {
        font-weight: $font-bold;
      }

      &-lista {
        font-size: $font-lg;
      }

      &-candidato {
        font-size: $font-xxl;
      }
    }

    & .card__body {
      &-porcentaje {
        font-weight: $font-extra-bold;
        font-size: $font-sxl;
      }
      &-votos {
        font-size: $font-lg;
        font-weight: $font-medium;
      }
    }
  }

  // MOBILE
  // CARD
  @media (max-width: 960px) {
    display: grid;
    grid-template-columns: auto 80px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

    &__header {
      display: grid;
      grid-template-columns: 60px auto;
      padding: 0.6rem 0.4rem;
    }

    &__image {
      width: 50px;
      height: 50px;
    }

    &__info {
      margin-inline-start: 1rem;

      &-text {
        font-size: $font-xsm;
      }

      &-numLista {
        font-size: $font-xsm;
        font-weight: $font-semi-bold;
      }

      &-lista {
        margin-block: 0;
        font-weight: $font-bold;
        font-size: $font-msm;
      }

      &-candidato {
        margin-top: 0.4rem;
        font-size: $font-sm;
      }
    }

    &__body {
      border-top-right-radius: 0.8rem;
      border-bottom-right-radius: 0.8rem;
      border-bottom-left-radius: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &-porcentaje {
        font-weight: $font-extra-bold;
        font-size: $font-md;
      }
      &-votos {
        font-size: $font-msm;
        font-weight: $font-medium;
      }
    }

    &--primary {
      grid-area: 1 / 1;
      width: 100%;

      & .card__header {
        align-items: center;
        grid-template-columns: 70px auto;
        padding: 0.6rem;
      }

      & .card__image {
        width: 65px;
        height: 65px;
      }

      & .card__info {
        &-text {
          font-size: $font-xsm;
        }

        &-numLista {
          font-size: $font-xsm;
          font-weight: $font-bold;
        }

        &-lista {
          font-size: $font-msm;
        }

        &-candidato {
          font-size: $font-sm;
        }
      }

      & .card__body {
        &-porcentaje {
          font-size: $font-md;
        }
        &-votos {
          font-size: $font-msm;
        }
      }
    }
  }

  &--yapura {
    @include card-style($color-bittersweet-shimmer);
  }

  &--guanco {
    @include card-style($color-sandy-brown);
  }

  &--saavedra {
    @include card-style($color-olivine);
  }

  &--caliva {
    @include card-style($color-background-mid-dark);
  }

  &--paz {
    @include card-style($color-flax);
  }
}
