.general-container--conc{
  max-width: 1800px;
}

.cards-container--primary {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-gap: 0.6rem;
  margin-block-end: 1rem;

  & .card--concejal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & .card__header {
      grid-template-columns: 50px auto;
      padding: 0.4rem 0.6rem;
    }

    & .card__image {
      width: 50px;
    }

    & .card__info {
      margin-inline-start: 0.6rem;

      &-text {
        font-size: $font-msm;
      }

      &-numLista {
        padding-inline-start: 0.4rem;
        font-size: $font-sm;
      }

      &-lista {
        margin-block: 0.2rem;
        font-size: $font-msm;
      }

      &-candidato {
        font-weight: $font-extra-bold;
        font-size: $font-sm;
      }
    }

    & .card__body {
      padding-block: 0.2rem;

      &-porcentaje {
        font-weight: $font-extra-bold;
        font-size: $font-lg;
      }
      &-votos {
        font-size: $font-sm;
        font-weight: $font-medium;
      }
    }
  }
}

.cards-container--conc {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 0.6rem;


}

.card--concejal {
  @include card-style($color-styles-light);
}

.card--secondary {
  display: grid;
  grid-template-columns: auto 80px;
  box-shadow: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

  & .card__header {
    display: block;
    padding: 0.4rem;
  }

  & .card__info {
    margin-inline-start: 0.6rem;
    
    &-text {
      font-size: $font-msm;
    }

    &-numLista {
      font-size: $font-msm;
      font-weight: $font-semi-bold;
    }

    &-lista {
      margin-block: 0;
      font-weight: $font-bold;
      font-size: $font-sm;
    }

    &-candidato {
      margin-top: 0.1rem;
      font-size: $font-smd;
    }
  }

  & .card__body {
    border-bottom-left-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-top: none;
    border-left: solid 0.1rem;

    &-porcentaje {
      font-size: $font-lg;
    }
    &-votos {
      font-size: $font-msm;
    }
  }
}