$color-white: #f8f8f8;
$color-background-dark: #070E12;
$color-background-mid-dark: #415a77;
$color-background-light: #fafafa;

$color-olivine: #8cb369ff;
$color-flax: #f4e285ff;
$color-sandy-brown: #f4a259ff;
$color-viridian: rgb(7, 48, 63);
$color-bittersweet-shimmer: #bc4b51ff;

$color-styles-dark: #02152c;
$color-styles-mid: #4c1e21;
$color-styles-light: #005f73;

// Fonts
$font-primary: "Wix Madefor Display", sans-serif;
// Font weigths
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;

$font-xsm: 0.8rem;
$font-msm: 1rem;
$font-sm: 1.2rem;
$font-smd: 1.4rem;
$font-md: 1.6rem;
$font-lg: 1.8rem;
$font-xl: 2.6rem;
$font-xxl: 3rem;
$font-sxl: 4rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 320px;
  font-size: 1.6rem;

  font-family: $font-primary;
  color: $color-styles-dark;
  display: flex;
  justify-content: center;

  background: url("assets/images/bg-min.jpg");
  background-color: $color-background-dark;
  background-position: top center;
  background-repeat: no-repeat;
}

.general-container {
  min-width: 320px;
  width: fit-content;
  max-width: 1000px;
  padding: 2rem 1.2rem;
  display: flex;
  flex-direction: column;
}

.main {
  width: 100%;

  &__text {
    text-align: center;
    color: $color-white;
    font-weight: $font-bold;
    margin-top: 1rem;
  }



  &__logo {
    text-align: center;
    margin-bottom: 2rem;

    & img {
      height: 80px;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 1.2rem 0;

    p {
      margin-inline: 1.2rem;
      padding: 0.8rem 2.2rem;
      border-radius: 0.4rem;
      font-size: $font-lg;
      font-weight: $font-semi-bold;

      background-color: rgba($color: $color-white, $alpha: 0.6);
      box-shadow: rgba(9, 30, 66, 0.15) 0px 4px 8px -2px,
        rgba(9, 30, 66, 0.02) 0px 0px 0px 1px;
    }
  }

  @media (max-width: 960px) {
    &__logo {
      margin-bottom: 1rem;
      & img {
        height: 60px;
      }
    }

    &__header {
      flex-direction: row;
      justify-content: center;
      margin-bottom: 1rem;

      & p {
        font-size: $font-sm;
        font-weight: $font-regular;
        text-align: center;
        padding: 0.4rem 0.8rem;
        border: none;
        border-radius: 0;
        box-shadow: none;
        margin-inline: 1rem;
      }
    }
  }

  @media (max-width: 420px) {
    &__logo {
      margin-bottom: 1rem;
      & img {
        height: 40px;
      }
    }

    &__header {
      flex-direction: column;
      margin-bottom: 1rem;

      p {
        padding: 0.4rem 0rem;
        margin-bottom: 0.1rem;
        border: none;
        border-radius: 0;
        font-size: $font-sm;
        font-weight: $font-medium;
        box-shadow: none;
      }
    }
  }
}
