.general-container--home {
  margin-top: 2rem;
  max-width: 420px;
}

.home {
  text-align: center;
  padding-block: 2rem;

  &__title {
    font-weight: $font-medium;
    color: $color-white;
    // text-transform: uppercase;
    margin-bottom: 2rem;
  }

  &__btn {
    display: block;
    padding-block: 3rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    text-decoration: none;

    background-color: #CCD7DB;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    & p {
      font-weight: $font-bold;
      font-size: $font-lg;
      color: $color-styles-dark;
      text-transform: uppercase;
    }
  }
}
